html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[data-author="me"] {
  background: linear-gradient(90deg, #141e30, #243b55);
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 10px!important;
}
