.container {
  display: grid;
  grid-template-rows: 1fr 100px;
  min-height: 100vh;
  background-color: lightskyblue;
}

.main {
  display: grid;
  grid-template-rows: 1fr;
  width: calc(100% - 40px);
  max-width: 900px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px 1px rgb(0 0 0 / 20%);
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
  color: white;
  background: linear-gradient(to right,#141e30,#243b55);
}

.footer {
  color: black;
  font-weight: 500;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100px;
}
